  {{#each contenu}}
  <div class="card">
  <img src="image.jpg" alt="Image" class="card-image">
  <div class="card-content">
    <h2 class="card-title">{{this.title}}</h2>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>
  {{/each}}