<form action="/login" method="post">
  <label for="cin">CIN:</label>
  <input type="text" id="cin" name="cin"><br><br>
  <label for="mot_de_passe">Mot de passe:</label>
  <input type="password" id="mot_de_passe" name="mot_de_passe"><br><br>
  <input type="submit" value="Se connecter">
</form>